body {
    background-color: #1e456f;

}
h1{
    text-align: center;
    font-style: bold;
    font-size: 36px;
    padding: 20px;
}

h1,p {
    color: white;
    
    
}

.container-body {
    font-size: 24px;
    border-style: dotted;
    border-width: 2px;
    border-color: white;
    margin: 20px;
    text-align: center;
    max-width: 960px;
    margin-left: 20%;
    margin-right: 10%
    
}
.container-img {
    background-color: white;
    margin: 0 auto;
    padding: 0;
}
img {
    width: 80%;
    height: 80%;
    padding: 20px;
    margin-left: 8%;
    margin-right: 8%;
}
.giphycat {
    margin-left: 35%;
    margin-right:30%;
}